{% extends "bootstrap/base.html" %}
{% block content %}



<div class="container">
	
	<div class="jumbotron" style="background-color: blue">

		<h2 style="color: white " >Veri Toplama Servisi</h2>
		<p style="color: white">Bootstrap ve Flask ile Makine Öğrenmesi Uygulaması</p>
		
	</div>

	<div class="">
		<form method="POST" action="{{ url_for('veritopla')}}">
			<label>Kategori ID</label>
			<input type="text" name="kategori"><br>
			
			<button type="submit" class="btn btn-primary">Veri Getir</button>

		</form>
	</div>

</div>


{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" 
	  href="{{url_for('.static',filename='css/styles.css')}}">
{% endblock %}